.box
{
    width: 500px;
    height: 200px;
    background-color: rgb(206, 241, 254);
    border: 10px rgb(244, 227, 118);
    font-size: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: fadeIn 2s ease-in-out 0.5s infinite alternate;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to   {opacity: 1;}
}